<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo main-brand-logo"><%= image_tag 'turing_logo.png', alt: "Turing School Logo", class: "turing-navbar-logo" %> Joust</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Login with Census', '/auth/census', class:"btn waves-effect waves-light navbar-button" %></li>
    </ul>
  </div>
  <div>
</nav>
